 .container {
	width: 1200px;
	margin: 0 auto;
 }
 .menu__inner {
	display: flex;
	justify-content:left;
	align-items: center;
	margin: 25px 0;
 }
 .nav {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
 }
 .nav li a {
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 10px 20px;
 }
 .nav li a:hover {
	color: rgb(255, 255, 255);
	border-radius: 5px;
	background-color: blueviolet;
 }
 .progress {
	position: relative;
	width: 600px;
	height: 20px;
	overflow: hidden;
	background: #15423e;
 }
 
 .strips {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 6px 100%;
 }
 .grayback_html {
	position: relative;
	left: 70%;
	width: 100%;
	height: 100%;
	background-color: #ddd;
 }
 .grayback_css {
	position: relative;
	left: 50%;
	width: 100%;
	height: 100%;
	background-color: #ddd;
 } .grayback_js {
	position: relative;
	left: 10%;
	width: 100%;
	height: 100%;
	background-color: #ddd;
 }
